In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
#save in dataframe
url="https://raw.githubusercontent.com/callxpert/datasets/master/Loan-applicant-details.csv"
names = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
df=pd.read_csv(url,names=names)
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y

In [3]:
#convert categorical values to integer values
number=LabelEncoder()
df['Gender']=number.fit_transform(df['Gender'].astype(str))
df['Married']=number.fit_transform(df['Married'].astype(str))
df['Dependents']=number.fit_transform(df['Dependents'].astype(str))
df['Education']=number.fit_transform(df['Education'].astype(str))
df['Self_Employed']=number.fit_transform(df['Self_Employed'].astype(str))
df['Property_Area']=number.fit_transform(df['Property_Area'].astype(str))
df['Loan_Status']=number.fit_transform(df['Loan_Status'].astype(str))
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,1,1,1,0,0,4583,1508.0,128,360,1,0,0
1,LP001005,1,1,0,0,1,3000,0.0,66,360,1,2,1
2,LP001006,1,1,0,1,0,2583,2358.0,120,360,1,2,1
3,LP001008,1,0,0,0,0,6000,0.0,141,360,1,2,1
4,LP001011,1,1,2,0,1,5417,4196.0,267,360,1,2,1

In [4]:
#predictor values
X=df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']].values
#scaling of parameters
X=preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[ 0.46719815,  0.73716237,  0.21859918, -0.50325312, -0.3992747 ,
        -0.13796959, -0.02795204, -0.20808917,  0.27554157,  0.41319694,
        -1.31886834],
       [ 0.46719815,  0.73716237, -0.76203265, -0.50325312,  2.50454133,
        -0.4175358 , -0.604633  , -0.97900085,  0.27554157,  0.41319694,
         1.25977445],
       [ 0.46719815,  0.73716237, -0.76203265,  1.98707162, -0.3992747 ,
        -0.49118022,  0.29710022, -0.30756164,  0.27554157,  0.41319694,
         1.25977445],
       [ 0.46719815, -1.35655324, -0.76203265, -0.50325312, -0.3992747 ,
         0.11228014, -0.604633  , -0.04644639,  0.27554157,  0.41319694,
         1.25977445],
       [ 0.46719815,  0.73716237,  1.19923101, -0.50325312,  2.50454133,
         0.00931924,  0.99997795,  1.52024509,  0.27554157,  0.41319694,
         1.25977445]])

In [5]:
#target values
y=df['Loan_Status']
y[0:5]

0    0
1    1
2    1
3    1
4    1
Name: Loan_Status, dtype: int32

In [6]:
#splitting
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [7]:
#KNN
k=5
neigh=KNeighborsClassifier(n_neighbors=k).fit(X_train,Y_train)
y_=neigh.predict(X_test)
y_

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1])

In [8]:
#KNN Accuracy
print("Training Set Accuracy:",metrics.accuracy_score(Y_train,neigh.predict(X_train)))
print("Test Set Accuracy:",metrics.accuracy_score(Y_test,y_))
print(metrics.confusion_matrix(Y_test,y_))
print(metrics.classification_report(Y_test,y_))

Training Set Accuracy: 0.8463541666666666
Test Set Accuracy: 0.7395833333333334
[[14 21]
 [ 4 57]]
              precision    recall  f1-score   support

           0       0.78      0.40      0.53        35
           1       0.73      0.93      0.82        61

    accuracy                           0.74        96
   macro avg       0.75      0.67      0.67        96
weighted avg       0.75      0.74      0.71        96

In [9]:
#Decision Tree
tree=DecisionTreeClassifier(criterion="entropy",max_depth=4)
tree.fit(X_train,Y_train)
ptree=tree.predict(X_test)
ptree

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1])

In [10]:
#Decision Tree Accuracy
print("Training Set Accuracy:",metrics.accuracy_score(Y_train,tree.predict(X_train)))
print("Test Set Accuracy:",metrics.accuracy_score(Y_test,ptree))
print(metrics.confusion_matrix(Y_test,ptree))
print(metrics.classification_report(Y_test,ptree))

Training Set Accuracy: 0.8567708333333334
Test Set Accuracy: 0.7291666666666666
[[13 22]
 [ 4 57]]
              precision    recall  f1-score   support

           0       0.76      0.37      0.50        35
           1       0.72      0.93      0.81        61

    accuracy                           0.73        96
   macro avg       0.74      0.65      0.66        96
weighted avg       0.74      0.73      0.70        96

In [11]:
#Logistic Regression
lr=LogisticRegression(C=0.01,solver='liblinear').fit(X_train,Y_train)
y_=lr.predict(X_test)
y_

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1])

In [12]:
#target values probability
y_prob=lr.predict_proba(X_test)
y_prob

array([[0.41596384, 0.58403616],
       [0.37331114, 0.62668886],
       [0.32794038, 0.67205962],
       [0.29055953, 0.70944047],
       [0.30946594, 0.69053406],
       [0.37654068, 0.62345932],
       [0.34105504, 0.65894496],
       [0.68354292, 0.31645708],
       [0.40098458, 0.59901542],
       [0.32930771, 0.67069229],
       [0.73280381, 0.26719619],
       [0.38770951, 0.61229049],
       [0.3623352 , 0.6376648 ],
       [0.42625185, 0.57374815],
       [0.32182288, 0.67817712],
       [0.35163895, 0.64836105],
       [0.33343987, 0.66656013],
       [0.35186104, 0.64813896],
       [0.3478113 , 0.6521887 ],
       [0.3616733 , 0.6383267 ],
       [0.72128013, 0.27871987],
       [0.32094684, 0.67905316],
       [0.49430728, 0.50569272],
       [0.41550308, 0.58449692],
       [0.67348276, 0.32651724],
       [0.64418607, 0.35581393],
       [0.68407624, 0.31592376],
       [0.40569657, 0.59430343],
       [0.38213646, 0.61786354],
       [0.34803109, 0.65196891],
       [0.38515813, 0.61484187],
       [0.31215673, 0.68784327],
       [0.72675595, 0.27324405],
       [0.33646091, 0.66353909],
       [0.70656683, 0.29343317],
       [0.71026885, 0.28973115],
       [0.33928736, 0.66071264],
       [0.32290016, 0.67709984],
       [0.39929584, 0.60070416],
       [0.32974065, 0.67025935],
       [0.35180731, 0.64819269],
       [0.35623223, 0.64376777],
       [0.38759924, 0.61240076],
       [0.37835833, 0.62164167],
       [0.42037193, 0.57962807],
       [0.30974094, 0.69025906],
       [0.33884625, 0.66115375],
       [0.36338191, 0.63661809],
       [0.41750299, 0.58249701],
       [0.38375252, 0.61624748],
       [0.37274761, 0.62725239],
       [0.33607537, 0.66392463],
       [0.29357694, 0.70642306],
       [0.33262539, 0.66737461],
       [0.77538576, 0.22461424],
       [0.33357227, 0.66642773],
       [0.35580071, 0.64419929],
       [0.32374366, 0.67625634],
       [0.65927899, 0.34072101],
       [0.36861062, 0.63138938],
       [0.33428149, 0.66571851],
       [0.3459265 , 0.6540735 ],
       [0.43957645, 0.56042355],
       [0.33143629, 0.66856371],
       [0.32512308, 0.67487692],
       [0.34472799, 0.65527201],
       [0.3684091 , 0.6315909 ],
       [0.35895663, 0.64104337],
       [0.37505098, 0.62494902],
       [0.3514053 , 0.6485947 ],
       [0.3172745 , 0.6827255 ],
       [0.38226306, 0.61773694],
       [0.6325688 , 0.3674312 ],
       [0.37858441, 0.62141559],
       [0.675998  , 0.324002  ],
       [0.38427505, 0.61572495],
       [0.39402568, 0.60597432],
       [0.37312635, 0.62687365],
       [0.33141901, 0.66858099],
       [0.29682286, 0.70317714],
       [0.38115327, 0.61884673],
       [0.33486705, 0.66513295],
       [0.39115878, 0.60884122],
       [0.32289392, 0.67710608],
       [0.37925394, 0.62074606],
       [0.37813426, 0.62186574],
       [0.32536844, 0.67463156],
       [0.64589552, 0.35410448],
       [0.33801765, 0.66198235],
       [0.33170303, 0.66829697],
       [0.35646695, 0.64353305],
       [0.75480662, 0.24519338],
       [0.30755212, 0.69244788],
       [0.34701868, 0.65298132],
       [0.35677711, 0.64322289],
       [0.4038149 , 0.5961851 ]])

In [13]:
#Logistic Regression Accuracy
print("Training Set Accuracy:",metrics.accuracy_score(Y_train,lr.predict(X_train)))
print("Testing Set Accuracy:",metrics.accuracy_score(Y_test,y_))
print(metrics.confusion_matrix(Y_test,y_))
print(metrics.classification_report(Y_test,y_))

Training Set Accuracy: 0.8255208333333334
Testing Set Accuracy: 0.75
[[13 22]
 [ 2 59]]
              precision    recall  f1-score   support

           0       0.87      0.37      0.52        35
           1       0.73      0.97      0.83        61

    accuracy                           0.75        96
   macro avg       0.80      0.67      0.68        96
weighted avg       0.78      0.75      0.72        96